.header-area{
  background-color: teal;
  text-align: center;
}

h1,h3{
  margin: 0px;
}

.content{
  background-color: thistle;
  color: magenta;
}


dl{
  margin: 0px;
}

.school h1{
  color: aqua;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}































































